/* Layout */
html {
	background: #ccc;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.container {
	background: white;
	border-radius: 1.5em;
	display: inline-block;
	padding: 1em 2em 1.5em;
}

h1 {
	font-weight: 300;
	margin: 0 0 0.3em;
}

/* Stats */
.stats {
	background: #ccc;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	font-family: 'Cultive Mono', monospace;
	padding: 0.2em 0.2em;
}
.stats .flags, .stats .time {
	font-size: 1.2em;
	margin-top: 0.05em;
	padding: 0.1em 0.3em;
}
.stats .flags {
	float: left;
}
.stats .time {
	float: right;
}
.stats .smiley {
	font-size: 1.6em;
	line-height: 1;
}

/* Board */

#board table {
    border-collapse: collapse;
	clear: both;
	font-size: 1.2em;
}
#board table td {
	border: 1px solid #ccc;
	height: 1.2em;
	line-height: 0;
	position: relative;
	text-align: center;
	width: 1.2em;
}
#board table td:hover:before {
	outline: 1px solid black;
	content: '';

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#board table td.isMine {
	/*background: #fee;*/
}
#board table td.flag {
	background: #fdd;
}
#board table td.flag:after {
	color: red;
	content: '\2691';
}
#board table td.mine:after {
	color: black;
	content: '\2600';
}
#board table td.revealed-0 {
	color: #aaa;
}
#board table td.revealed-1 {
	color: #282;
}
#board table td.revealed-2 {
	color: #cc0;
}
#board table td.revealed-3 {
	color: #22a;
}
#board table td.revealed-4 {
	color: #822;
}




/* Form */
form {
	margin-top: 1em;
}

input[type=number] {
	width: 3em;
}

input[type=submit] {
	background: #45c;
	border: 0;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 1.4em;
	margin: 0.2em auto 0;
	padding: 0.3em 0.6em;
}
input[type=submit]:hover {
	background: #34a;
}